body {
    font-family: Arial, Helvetica, sans-serif;

    background-color: forestgreen;

    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

#header {
    grid-column: 1 / -1;
    color: white;
}

#sidebar {
    color: white;
}

#projects-list {
    margin-left: 2rem;
    list-style-type: none;
}


#content {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); */
    grid-template-columns: 1fr;
    align-content: start;
    gap: 1rem;
  
    margin-bottom: 2rem;

}

.defaultTodoCard {
    background-color: white;
    /* color: forestgreen;; */
    padding: 0.5rem;
    outline: black solid 1px;
}

.priority-input {
    appearance: auto;
}

.newTodoCard {
    background-color: white;
    color: forestgreen;
    font-weight: bold;
    padding: 0.5rem;
    outline: black solid 1px;

    max-width: 100%;

}

.checklist-list {
    margin-left: 2rem;
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* gap: 1rem; */

    li {
        position: relative;
    }

    .checkList-checkOff-btn {
        left: -1.5rem;
        position: absolute;

    }



    list-style-position: inside;
/* 
    li *{
        margin-left: 0.5rem;
        
    } */




}

/* #checklist-line-form-container div:last-child button{
    background-color: red;
} */

.short-form-card {
    button {
        color: red;
    }
}


