body {
    background-color: aqua;

    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

#header {
    grid-column: 1 / -1;
}




.todoCard {
    background-color: white;
}